.interview-card{
    width:85%;
    max-width:1100px;
    margin:30px auto;
    background:#fff;
    border-radius:15px;
    padding:25px;
    box-shadow:0 4px 15px rgba(0,0,0,.08);
}

.interview-card h2{
    text-align:center;
    color:#4338ca;
    margin-bottom:25px;
}

.question-list{
    padding-left:25px;
}

.question-list li{
    background:#f8fafc;
    margin-bottom:15px;
    padding:15px;
    border-left:5px solid #4338ca;
    border-radius:8px;
    font-size:17px;
    line-height:1.6;
}

.empty-text{
    text-align:center;
    color:gray;
    font-size:16px;
}

.icon{
    color:#f59e0b;
}